    body
    {
        background: rgb(9,106,176) url("Lesson2.jpg") no-repeat center top;
    }
    td 
    {
        background:white;
    }
    table.layot 
   
    {
        position: absolute;

        width:100%;
        top:40%;
        text-align: center;
        border:0;
    }
    td.menu:hover
    {
    background:rgb(143,166,177)
    }
    div.eeeS
    {
        background:grey;
        color:black;
        font-family:@arial;
    }

